.home-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  padding: 20px;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .home-container {
    padding-top: 20px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .home-content {
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: white;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 0px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0;
  }
}

.find-jobs-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .find-jobs-button {
    width: 150px;
    font-size: 16px;
  }
}
